<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="szyhSettings" type="SZYH.CONFIG.NameValueSectionHandler, SZYH.CONFIG"/>
  </configSections>
  <szyhSettings>
    <add key="DefLogRecorder" value="SZYH.LOGGING.TextFileLogRecorder, SZYH.LOGGING"/>
    <add key="GlobalCacheType" value="Form"/>
    <add key="IOC.SearchAssembly.1" value="SZYH.IDB"/>
    <add key="IOC.SearchAssembly.2" value="SZYH.DB"/>
    <add key="IOC.SearchAssembly.3" value="SZYH.ALLINONE.IDAL"/>
    <add key="IOC.SearchAssembly.4" value="SZYH.ALLINONE.DAL"/>
    <!--<add key="IOC.SearchAssembly.5" value="SZYH.ALLINONE.ORACLE" />-->
    <add key="IOC.SearchAssembly.5" value="SZYH.ALLINONE.MSSQL"/>
    <add key="IOC.SearchAssembly.6" value="SZYH.ALLINONE.IBLL"/>
    <add key="IOC.SearchAssembly.7" value="SZYH.ALLINONE.BLL"/>
    <add key="IOC.SearchAssembly.8" value="SZYH.ALLINONE.IWCF"/>
    <add key="IOC.SearchAssembly.9" value="SZYH.ALLINONE.WCF"/>

    <!--数据库类型:[Oracle,MsSql,MySql]-->
    <add key="DefDbType" value="MsSql"/>
    <!--数据库连接字符串-->
   
    <!--<add key="DefDbConnStr" value="Data Source=127.0.0.1,14330;Initial Catalog=Dispatch;Integrated Security=True" />-->
  </szyhSettings>

  <appSettings>
    <!--本机IP，对外开放的固定IP********************************************************-->
    <add key="IP" value="192.168.0.116"/>
    <!--TCP端口，设备建立链路的端口，对外开放的固定端口号*******************************-->
    <add key="TCP" value="8020"/>
   
    <add key="DefDbConnStr" value="data source=192.168.0.11;initial catalog=ROBOT;user id=HJL;pwd=hjl"/>
  </appSettings>
  <connectionStrings>
    <add name="WinRobots.Properties.Settings.ROBOTConnectionString"
      connectionString="Data Source=192.168.0.11;Initial Catalog=ROBOT;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="WinRobots.Properties.Settings.laodianConnectionString"
      connectionString="Data Source=.;Initial Catalog=laodian;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
